@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

html,
body {
    min-height: 100vh;
    font-family: "Bebas Neue", sans-serif;
    margin: 0;
}

nav {
    display: flex;
    position: relative;
    height: 6.5vh;
    justify-content: right;
    color: rgb(241, 241, 241);
    background-color: rgb(36, 36, 36);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    z-index: 1;
}

#nav-menu {
    margin: 0;
    padding: 4px;
    display: inline-block;
    align-self: center;
    justify-content: right;
    list-style-type: none;
}

.menu-item {
    margin: 0 12px;
    padding: 0;
    display: inline-block;
}

.menu-button {
    display: flex;
    height: 60%;
    aspect-ratio: 3;
    align-items: center;
    justify-content: center;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.4), -1px -1px 4px rgba(255, 255, 255, 0.1);
    background-color: #1f1f1f;
    border-radius: 10px;
}

.menu-button:hover {
    background-color: #252525;
    cursor: pointer;
}


#container {
    display: flex;
    align-items: start;
}

#brand-container {
    display: flex;
    width: 100%;
    height: 91vh;
    padding: 1rem;
    background: repeating-linear-gradient(0.1turn, transparent, #1f1f1f 3px),
        repeating-linear-gradient(0.35turn, transparent, #757575 3px);
    background-color: rgb(43, 43, 43);
}

#brand-info-container {
    width: 50%;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: top;
}

#brand-knowledge-container {
    width: 50%;
    margin: 1rem;
    background-color: rgb(36, 36, 36);
    box-shadow: 8px 8px 8px 4px rgba(0, 0, 0, 0.2), -4px -4px 8px 2px rgba(255, 255, 255, 0.1);
    border-radius: 15px;
}

#brand-card {
    width: 400px;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    backdrop-filter: blur(0.6px);
    background-color: rgba(66, 66, 66, 0.2);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.4);
    border: 1px solid rgba(85, 85, 85, 0.3);
    border-radius: 10px;

}

#perfil {
    width: 70%;
    aspect-ratio: 1;
    border-radius: 100%;
}

h1 {
    margin: 0;
    padding: 0;
    line-height: 75%;
    color: rgb(255, 255, 255);
    text-align: left;
    font-weight: 400;
    font-style: normal;
    font-size: 1400%;
    text-shadow: 8px 8px 8px rgba(0, 0, 0, 0.5);
}