@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html, body {
    margin: 0;
}

#container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#brand-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(#8511F2, #CF11F2);
}

#perfil {
    width: 25vw;
    height: 25vw;
    border: 4px solid;
    border-color: black;
    border-radius: 100%;
}

h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 4rem;
}